
/*
* Vars
*/
$trans-bg: rgba(255,255,255,0.15);
$trans-med-bg: rgba(255,255,255,0.75);
$ok-green: #8cfda0;

/*
* Mixins
*/
@mixin blur(){
  $blur: 8px;
  -webkit-filter: blur($blur);
  -moz-filter: blur($blur);
  -o-filter: blur($blur);
  -ms-filter: blur($blur);
  filter: blur($blur);
}

@mixin unblur(){
  $blur: 0px;
  -webkit-filter: blur($blur);
  -moz-filter: blur($blur);
  -o-filter: blur($blur);
  -ms-filter: blur($blur);
  filter: blur($blur);
}

/*
* Components
*/

@import '../../node_modules/rc-time-picker/assets/index';
@import '../../node_modules/react-anything-sortable/sortable';
@import 'base';
@import 'components/ui-keyboard';
@import 'components/ui-timepicker';
@import 'components/ui-rangepicker';
@import 'components/header';
@import 'components/modal';
@import 'components/components';
@import 'components/component-edit';
@import 'components/io-container';
@import 'components/io-list';
@import 'components/io-lib';
@import 'components/io';
